mport random 
Ran = random. randint(1, 6)
print(“ random integer between 1 and 6:”,Ran)
print(‘your number is:  ‘)
n = int(input())

score = 3
if n == Ran:
    print(‘you wen ‘)

else:
        print(‘you lose’)
        score = score-1
        print(ran)
print(‘score’)
if n>6 or n<1:
  print(‘ please use numbers 1 through 6’)
